<h2> Congratulations, <%= @user.name %> ! </h2>
<p> You have finished all the tasks in  the list "<strong> <%= @todo.title %></strong>". Have some insights about the time you spent solving the list.</p>
<ul>
  <% @task_durations.each do |task| %>
    <li>
      <strong><%= task[:title] %>:</strong>
      <% if task[:duration] > 0 %>
        <%= "#{(task[:duration] / 24).to_i} days and #{(task[:duration] % 24).to_i} hours" %>
      <% else %>
        <em>Task finished quickly!</em>
      <% end %>
    </li>
  <% end %>
</ul>
<p>Keep going further! 🚀</p>